@font-face{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url(fonts/Montserrat-Medium.ttf);
}
@font-face{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(fonts/Montserrat-Bold.ttf);
}
::-webkit-scrollbar{
    width: 9px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.0); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #7a7a7a;
}
::selection{
    background-color: #F14D34;
}
*, *::after, *::before{
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif !important;
    margin: 0;
    padding: 0;
}
.container{
    width: 94%;
    margin: auto;
    padding: 0  ;
}
button{
    width: 220px;
    height: 60px;
    border: 2px #F14D34 solid;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    font-size: 12px;
    display: block;
    transition: 0.3s;
    cursor: pointer;
    outline: none !important;
    margin: auto;
}
input,
textarea{
    border-radius: 5px;
    border: 1px rgba(255, 255, 255, 0.3) solid;
    background: transparent;
    color: #fff;
    padding: 20px 24px;
    font-size: 14px;
    line-height: 114.286%;
    outline: none;
}
a, 
a:hover{
    color: #F14D34 !important;
}

/* header */
header{
    background: #000;
    color: #fff;
    position: relative;
    overflow: hidden;
    padding-bottom: 88px;
}  
header video {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
}
header .container{
    position: relative;
    left: 0;
    top: 0;
    z-index: 2;
}
header:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.header_back_img{
    position: absolute;
    top: -3%;
    left: -10%;
    width: 100%;
}

h1{
    font-size: 24px;
    line-height: 115%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;
    font-weight: bold;
}
h2{
    font-size: 14px;
    line-height: 155%;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    opacity: 0.8;
}
.header_tarif_button{
    margin: 55px auto;
}
.button_select,
button:hover{
    color: #fff !important;
    background: #F14D34 !important;
}

.header_categories{
    position: relative;
    z-index: 1;
}
.header_categories > div{
    width: calc(50% - 23px);
    margin: 10px;
    display: inline-flex;
    flex-direction: column;
    border-left: 3px #F14D34 solid;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.header_zag_big{
    font-size: 48px !important;
}
.header_zag_big:after{
    content: url(imgs/cup.png);
    position: relative;
    right: 0;
    top: 0;
}
.zag{
    font-size: 24px;
    font-weight: bold;
}
.podzag{
    font-size: 12px;
    color: #fff;
    opacity: 0.7;
}

/* menu */
.menu a{
    color: #fff !important;
}
.mobile_head_menu .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.mobile_head_menu{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    background: #000;
    z-index: 4;
    height: 35px;
}
.burger_menu{
    width: 23px;
    height: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.burger_menu_1,
.burger_menu_1:after,
.burger_menu_1:before{
    width: 100%;
    height: 2px;
    border-radius: 3px;
    background: #888;
    display: block;
    position: relative;
    transition: 0.1s;
}
.burger_menu_1:before{
    content: "";
    position: absolute;
    top: -6px;
}
.burger_menu_1:after{
    content: "";
    position: absolute; 
    top: 6px;
}
.menu_active .burger_menu_1{
    background: transparent;
}
.menu_active .burger_menu_1:before{
    transform: rotate(45deg);
    top: 0;
}
.menu_active .burger_menu_1:after{
    transform: rotate(-45deg);
    top: 0;
}

body.menu_active{
    overflow: hidden;
}
nav{
    z-index: 3;
    position: fixed;
    left: 0;
    bottom: -100%; /*35px */
    width: 100vw;
    background: #000;
    font-size: 12px;
    transition: 0.5s;
}
.menu_active nav{
    bottom: 35px !important;
}
nav ul{
    padding-left: 0;
    margin: 0;
}
nav li{
    list-style-type: none;
    border-top: 1px #333 solid;
    padding: 9px 20px;
    padding-right: 0;
    opacity: 0.8;
}
.menu_podcat{
    padding-bottom: 0;
}
.menu_podcat span{
    position: relative;
    opacity: 0.8;
}
.menu_podcat span:after{
    content: "\25BC";
    position: absolute;
    top: -1px;
    right: -12px;
}
.menu_podcat > ul{
    margin-left: -20px;
    width: calc(100% + 20px);
    margin-top: 8px;
}
.menu_podcat > ul li{
    padding-left: 40px;
}
.menu{
    border-bottom: 1px #fff solid;
    max-height: calc(100vh - 35px);
    overflow: auto;
}
.menu .thisPage{
    color:#F14D34
}


/* services */
#services h1 {
    text-align: left;
    color: #050C33;
}
.services_parts{
    display: flex;
    flex-wrap: wrap;
}
.services_part{
    width: 50%;
    margin-top: 63px;
    display: inline-flex;
    justify-content: center;
}
.services_part_sor{
    display: inline-block;
}
.services_imgs{
    position: relative;
    margin-bottom: 18px;
}
.services_part .podzag1{
    padding-right: 20px;
    opacity: 0.7;
    color: #050C33;
    font-size: 16px;
    font-style: normal;
    line-height: 137%;
}

#services img:nth-child(2) {
    width: 81px;
    height: 81px;
    position: absolute;
    left: 55px;
    bottom: 7px;
}
#services img:nth-child(3){
    width: 114px;
    height: 71px;
}


/* support */
.supports_list > div{
    padding: 27px 36px 42px 25px;
    box-shadow: 20px 20px 40px rgba(5, 12, 51, 0.05);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin: 5px 0;
    background: #fff;
    position: relative;
    z-index: 1;
}
.supports_list > div > img{
    position: absolute;
    right: 0;
    bottom: 0;
}
.support_num{
    font-size: 12px;
    font-weight: bold;
    color: #050C33;
    opacity: 0.5;
    margin-bottom: 20px;
}
.supports_list .zag{
    font-size: 18px;
    color: #050C33;
    margin-bottom: 12px;
}
.supports_list .podzag{
    font-size: 16px;
    color: #050C33;
    opacity: 0.7;
    line-height: 138%;
    position: relative;
    z-index: 1;
}


/* expertise */
#expertise{
    background: #171925;
    margin-top: -180px;
    padding-top: 200px;
    color: #fff;
    position: relative;
}
#expertise .container{
    position: relative;
    z-index: 2;
}
#expertise h1{
    text-align: left;
    margin-top: 0;
}
#expertise .header_categories > div > span{
    color: #F14D34;
}
#expertise .header_categories > div{
    width: 99%;
    margin-right: 0;
}
#expertise .header_categories .podzag{
    font-size: 16px;
}
.expertise_back_img{
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    /* opacity: 0.2; */
}
.expertise_laptop{
    position: relative;
    bottom: -10vw;
    width: 87%;
    max-width: 600px;
}


/* tarif */
#tarif{
    padding-top: 60px;
    padding-bottom: 51px;
    background: url(imgs/D-background.svg) no-repeat top right;
    background-size: cover;
}
.tarif_category{
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    padding: 37px 15px 30px;
    margin: auto;
    margin-top: 30px;
    max-width: 460px;
}
.tarif_title{
    color: #F14D34;
    font-size: 22px;
    font-weight: bold;
}
.tarif_price{
    color: #050C33;
    font-size: 72px;
    font-weight: bold;
    line-height: 100%;
    /* display: flex; */
    display: none;
}
.tarif_price div{
    color: #050C33;
    font-size: 28px;
    line-height: 100%;
    display: inline-block;
    margin-left: 10px;
}
.tarif_podprise{
    display: none;
}
.tarif_item{
    margin-top: 21px;
    margin-left: 31px;
    position: relative;
}
.tarif_item:before{
    content: url(imgs/check.svg);
    width: 13px;
    position: absolute;
    left: -31px;
    top: 0;
}
.tarif_button{
    color: #F14D34;
    margin: 43px auto 0;
}
.tarif_info{
    font-size: 16px;
    opacity: 0.5;
    color: #050C33;
    margin-top: 45px;
    text-align: center;
}
.tarif_individual{
    text-align: center;
}
.tarif_individual .podzag{
    color: #050C33;
    line-height: 100%;
    letter-spacing: 0.72px;
    text-decoration: underline !important;
    text-transform: uppercase;
    opacity: 1;
}

/* team */
#team h1 {
    text-align: center;
    width: 100%;
}

#team > div > img {
    width: 280px;
    height: 280px;
}

#team .name {
    padding-top: 30px;
    color: #050C33;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}

#team .podzag {
    color: #050C33;
    font-size: 16px;
    opacity: 0.7;
}


.teammate {
    width: 50%;
    margin-top: 20px;
    display: inline-flex;
    justify-content: center;
    padding: 0 15px;
}
#teammates {
    display: flex;
    flex-wrap: wrap;
    /* max-width: 540px; */
    margin: auto;
}

.team_button {
    color: #F14D34;
    margin: 43px auto 0;
}
.teammate2 {
    display: inline-block;
    max-width: 280px;
}
.teammate2 img{
    width: 100%;
}

/* reviews */

#reviewsdiv {
    position: relative;
}

#backreview {
    display: flex;
    width: 26vw;
    height: 26vh;
    opacity: 0.04;
    position: absolute;
    margin-top: -90px;
    margin-left: -6vw;
}

/* partners */
#partners h2{
    color: #050C33;
    opacity: 0.7;
    text-align: left;
    font-size: 16px;
}
#companies{
    overflow: hidden;
}
#companies .slick img{
    width: 100%;
    margin: auto;
}
#companies .slick-slide{
    width: clamp(180px, 19vw, 291px);
    /* height: 155px; */
    margin: 5px;
}

/* FAQ */

#FAQ h1 {
    margin-top: 90px;
}

#AskList {
    margin-top: 65px; 
    list-style-type: number;
}

.active {
    border: 3px solid #F14D34;
}

#FAQ .title {
    color: #050C33;
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#FAQ input {
    padding: 5px 0px 5px;
}

.active .title {
    color: #F14D34 !important;
    font-weight: bold !important;
}

.active .text {
    font-size: 16px;
}

.passive .title {
    color: black !important;
    font-weight: bold !important;
}

.passive .text {
    font-size: 0px;
}

/* form */
#form{
    background: linear-gradient(261deg, rgba(255, 255, 255, 0.28) -114.85%, rgba(255, 255, 255, 0.00) 69.04%), #040613;
    display: inline-block;
    width: 100%;
}
#form h1{
    color: #fff;
}
#form h2{
    text-align: justify;
    opacity: 0.7;
    margin-bottom: 30px;
}
.form_contact{
    margin-bottom: 30px;
}
.form_contact div{
    padding-left: 46px;
    position: relative;
    color: #fff;
    font-weight: bold;
    line-height: 150%;
}
.form_contact a{
    color: #fff !important;
}
.form_phone{
    font-size: 32px;
    margin-bottom: 12px;
}
.form_mail{
    font-size: 18px;
    text-decoration-line: underline;
}
.form_contact div:before{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.form_phone:before{
    content: url(imgs/phone.svg);
    width: 24px;
}
.form_mail:before{
    content: url(imgs/mail.svg);
    width: 28px;
}

form{
    margin-bottom: 80px;
}
form > div{
    display: flex;
}
form input,
form textarea{
    width: 100%;
    margin-bottom: 7px;
}
form textarea{
    min-height: 150px;
    margin-bottom: 0;
}

form label{
    margin: 10px 0;
    display: flex;
    align-items: center;
}
form label > div{
    position: relative;
    height: 25px;
    width: 25px;
    border: 2px solid rgba(256, 256, 256, 0.5);
    background-color: transparent;
    border-radius: 5px;
    display: inline-block;
    margin-right: 13px;
}
form label > div:before{
    content: url("imgs/checked.svg");
    display: block;
    width: 21px;
    height: 21px;
    opacity: 0;
    margin-left: -2px;
    margin-top: -2px;
    transition: 0.2s;
}

form label input:checked + div:before{
    opacity: 1;
}
form #oznakomlen{
    display: none;
}
form label span{
    color: #FFF;
    font-size: 12px;
    line-height: normal;
}
form .g-recaptcha{
    margin-bottom: 12px;
}
form button{
    width: 100%;
}

.razdel{
    height: 1px;
    width: 100%;
    background-color: #fff;
    opacity: 0.3;
}

.socials{
    padding-top: 56px;
    margin-bottom: 15px;
}
.social{
    width: 30px;
    height: 30px;
    display: inline-block;
    background: #f14d34;
    border: 2px solid #f14d34;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
    line-height: 30px;
    margin-right: 10px;
}
.social > *{
    color: #fff;
    font-weight: bold;
}
.footer_end{
    color: #fff;
    padding-bottom: 55px;
}

@media (min-width: 768px){
    .menus{
        padding: 30px 0;
    }
    nav{
        position: unset;
        margin-top: 10px;
    }
    .mobile_head_menu{
        position: unset;
        background: unset;
    }
    .mobile_head_menu .container{
        width: 100% !important;
        margin-left: 0;
    }
    .mobile_head_menu .logo{
        width: 190px;
    }
    .mobile_head_menu .logo_a{
        margin-right: 60px;
    }
    nav{
        background: transparent;
        width: unset;
    }
    .menu{
        border-bottom: unset;
        max-height: unset;
    }
    .menu > li,
    .menu_podcat > ul > li{
        border-top: unset;
        padding: 0;
    }
    .menu_podcat > ul{
        /* display: none; */
        position: fixed;   
        margin-left: 0;
        margin-top: 20px;
        width: unset;
    }
    .menu li{
        display: inline-block;
    }
    .menu > li{
        margin-right: 30px;
        margin-bottom: 8px;
        position: relative;
    }
    .menu_podcat span{
        margin-right: 12px;
    }
    .menu_podcat span:hover + ul{
        display: block;
    }


    .burger_menu{
        display: none;
    }

    .supports_list{
        display: flex;
        flex-wrap: wrap;
    }
    .supports_list > div{
        width: calc(50% - 10px);
        margin: 5px;
    }
    #expertise .header_categories{
        display: flex;
        flex-wrap: wrap;
    }
    #expertise .header_categories > div:nth-child(odd){
        margin-left: 0;
    }
    #expertise .header_categories > div{
        width: calc(50% - 10px) !important;
    }
    #expertise h1{
        font-size: 32px;
    }
}

@media (min-width: 992px){
    .services_part{
        width: 25%;
    }
    #expertise{
        padding-top: 300px;
        padding-bottom: 70px;
    }
    #expertise .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
    }
    #expertise h1{
        font-size: 42px;
    }
    .expertise_laptop{
        position: absolute;
        width: 48vw;
        max-width: unset;
        bottom: -70px;
        max-width: 720px;
        /* margin-top: 200px; */
    }
    #expertise .header_categories,
    #expertise h1{
        /* padding-left: 48%; */
        width: 500px;
    }
}

@media (min-width: 1200px){
    .supports_list > div{
        width: calc(25% - 10px);
        margin: 5px;
    }
    #expertise{
        padding-top: 405px;
        padding-bottom: 173px;
    }
    .expertise_laptop{
        bottom: -110px;
    }
    #expertise .header_categories,
    #expertise h1{
        /* padding-left: 48%; */
        width: 585px;
    }
}